<div class="container-fluid">
	<legend>For development</legend>
	<!--FullPathForDebugging-->
	<div class="row top-buffer">
		<label class="col-md-2" for="">Full path for debugging</label>
		<div class="col-md-8">
			<input class="form-control" [(ngModel)]="snippetsModel.PathForFull" (ngModelChange)="onPathForFullChanged($event)" type="text"
				placeholder="{{TextPlaceholderSpringObjectName}}" (click)="onTextBoxClickSelectAll($event)" (keydown.arrowup)="showPreviousPath()"
				(keydown.arrowdown)="showNextPath()" [typeahead]="bindingPaths">
		</div>
		<div class="col-md-2">
			<div>
				<button class="btn btn-primary" [ngIIclipboard]="pFullPath" (click)="updateHistorie()">Copy to clipboard</button>
			</div>
		</div>
		<small #pFullPath class="col-md-8 col-xs-offset-2 text-muted">{{fullPathForDebugging}}</small>
	</div>


	<!--JSCodeForPausingOnSet-->
	<div class="row top-buffer">
		<label class="col-md-2" for="">JS code for pausing on set</label>
		<div class="col-md-8">
			<input class="form-control" [(ngModel)]="snippetsModel.PathForJS" (ngModelChange)="onPathForJSChanged($event)" type="text"
				placeholder="{{TextPlaceholderSpringObjectName}}" (click)="onTextBoxClickSelectAll($event)">
		</div>
		<div class="col-md-2">
			<div>
				<button class="btn btn-primary" [ngIIclipboard]="pJSCode">Copy to clipboard</button>
			</div>
		</div>
		<small #pJSCode class="col-md-8 col-xs-offset-2 text-muted">{{jsCodeForPausingOnSet}}</small>
	</div>


	<!--OpenStateTableWindow-->
	<div class="row top-buffer">
		<label class="col-md-2">Open StateTable window</label>
		<div #divST class="col-md-8">
			$("#productPages").trigger("process.debugger")
		</div>
		<div class="col-md-2">
			<div>
				<button class="btn btn-primary" [ngIIclipboard]="divST">Copy to clipboard</button>
			</div>

		</div>
	</div>

	<!--JSONDeserializationError-->
	<div class="row top-buffer">
		<label class="col-md-2">JSON deserialization error</label>
		<div class="col-md-8">{{TextJsonDeserializationError}}</div>
	</div>

	<legend class="top-buffer-50">For testing</legend>
	<!--DE-IBAN-->
	<div class="row top-buffer">
		<label class="col-md-2">DE-IBAN</label>
		<div #divIBAN class="col-md-8">
			DE77320603621022152030
		</div>
	</div>

	<!--Tariff-->
	<div class="row top-buffer">
		<label class="col-md-2" for="">Tariff</label>
		<div class="col-md-8">
			<input class="form-control" type="text" placeholder="{{TextPlaceholderSearchForTariff}}" #searchTariffBox (keyup)="searchTariff(searchTariffBox.value)">
		</div>
		<small *ngIf="foundTariffs && foundTariffs.length ===0" class="col-md-8 col-xs-offset-2 text-danger">{{TextNoTariffFound}}</small>
		<div *ngIf="foundTariffs" class="col-md-8 col-xs-offset-2 top-buffer">
			<ul>
				<li *ngFor="let tariff of foundTariffs | async">
					{{tariff.toString()}}
				</li>
			</ul>
		</div>

	</div>
</div>