<div class="container-fluid">
	<!--FullPathForDebugging-->
	<div class="row top-buffer" >
		<label class="col-xs-2" for="">Full path for debugging</label>
		<div class="col-xs-8">
			<input class="col-xs-12 form-control" [(ngModel)]="snippetsModel.PathForFull" (ngModelChange)="onPathForFullChanged($event)" type="text"
				placeholder="{{TextPlaceholderSpringObjectName}}">
		</div>
		<div class="col-xs-2">
			<div>
				<button class="btn btn-primary" [ngIIclipboard]="pFullPath">Copy to clipboard</button>
			</div>
		</div>
	</div>
	<div class="row" >
		<p #pFullPath class="col-xs-8 col-xs-offset-2 text-muted"><small>{{fullPathForDebugging}}</small></p>
	</div>

	<!--JSCodeForPausingOnSet-->
	<div class="row top-buffer" >
		<label class="col-xs-2" for="">JS code for pausing on set</label>
		<div class="col-xs-8">
			<input class="col-xs-12 form-control" [(ngModel)]="snippetsModel.PathForJS" (ngModelChange)="onPathForJSChanged($event)" type="text"
				placeholder="{{TextPlaceholderSpringObjectName}}">
		</div>
		<div class="col-xs-2">
			<div>
				<button class="btn btn-primary" [ngIIclipboard]="pJSCode">Copy to clipboard</button>
			</div>
		</div>
	</div>
	<div class="row" >
		<p #pJSCode class="col-xs-8 col-xs-offset-2 text-muted"><small>{{jsCodeForPausingOnSet}}</small></p>
	</div>

	<!--Result-->
	<div class="row top-buffer">
		<label class="col-xs-2">Open StateTable window</label>
		<div #divST class="col-xs-8">
			$("#productPages").trigger("process.debugger")
		</div>
		<div class="col-xs-2">
			<div>
				<button class="btn btn-primary" [ngIIclipboard]="divST">Copy to clipboard</button>
			</div>

		</div>
	</div>
</div>