<!--List-->
<div class="row top-buffer">
	<label class="col-md-2" for="">Type</label>
    
	<div class="col-md-8">
        <select class="form-control" [(ngModel)]="eventModel.ChangeEventType" (ngModelChange)="onModelDataChanged($event)" name="">
            	<option *ngFor="let changeEventType of changeEventTypes" [ngValue]="changeEventType">{{changeEventType}}</option>
			</select>
		<!--<input [(ngModel)]="eventModel.IsList" (ngModelChange)="onModelDataChanged($event)" type="checkbox">-->
	</div>
</div>

<!--ListProperty-->
<div *ngIf="eventModel.ChangeEventType === 'List'" class="row top-buffer">
    <label class="col-md-2" for="">ListProperty</label>
    <div class="col-md-8">
        <input class="form-control" [(ngModel)]="eventModel.ListProperty" (ngModelChange)="onModelDataChanged($event)" type="text" placeholder="{{TextPlaceholderArrayField}}">
    </div>
</div>

<!--ViewModelFieldPath-->
<div class="row top-buffer">
    <label class="col-md-2" for="">ViewModelFieldPath</label>
    <div class="col-md-8">
        <input class="form-control" [(ngModel)]="eventModel.ViewModelFieldPath" (ngModelChange)="onModelDataChanged($event)" type="text" placeholder="{{ResourceText8}}">
    </div>
</div>
