<div class="container-fluid">
	<!--EventType-->
	<div class="row top-buffer">
		<label class="col-xs-2" for="">EventType</label>
		<div class="col-xs-8">
			<select class="col-xs-12 form-control" [(ngModel)]="eventModel.EventType" (ngModelChange)="onDataChanged($event)" name="">
            	<option *ngFor="let eventType of eventTypes" [ngValue]="eventType">{{eventType}}</option>
			</select>
		</div>
	</div>

	<!--EventName-->
	<div class="row top-buffer" *ngIf="eventModel.EventType === 'customEvent'">
		<label class="col-xs-2" for="">EventName</label>
		<div class="col-xs-8">
			<input class="col-xs-12 form-control" [(ngModel)]="eventModel.EventName" (ngModelChange)="onDataChanged($event)" type="text"
				placeholder="{{TextPlaceholderEventName}}">
		</div>
	</div>

	<!--UIField-->
	<div class="row top-buffer">
		<label class="col-xs-2" for="">UIField</label>
		<div class="col-xs-8">
			<input class="col-xs-12 form-control" [(ngModel)]="eventModel.UIField" (ngModelChange)="onDataChanged($event)" type="text"
				placeholder="{{TextPlaceholderUIField}}">
		</div>
	</div>

	<!--Result-->
	<div class="row top-buffer">
		<label class="col-xs-2">Json</label>
		<div class="col-xs-8">
			<textarea #taResult class="col-xs-12 form-control" rows="20">{{result}}</textarea>
		</div>
		<div class="col-xs-2">
			<div>
				<button class="btn btn-primary top-buffer" (click)="copyToClipboard()" [ngIIclipboard]="taResult">Copy to clipboard</button>
			</div>

		</div>
	</div>
</div>