<!--ArrayField-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">ArrayField</label>
	<div class="col-xs-8">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.ArrayField" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderArrayField}}">
	</div>
</div>

<!--ArrayFieldName-->
<!--<div class="row top-buffer">
	<label class="col-xs-2" for="">ArrayFieldName</label>
	<div class="col-xs-8">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.ArrayFieldName" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderArrayFieldNameAdd}}">
	</div>
</div>-->


<!--JsonTypeName-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">JsonTypeName</label>
	<div class="col-xs-8">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.JsonTypeName" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderJsonTypeName}}">
	</div>
</div>

<!--JsonTypeAssemblyName-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">JsonTypeAssemblyName</label>
	<div class="col-xs-8">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.JsonTypeAssemblyName" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderJsonTypeAssemblyName}}">
	</div>
</div>