<!--ArrayField-->
<div class="row top-buffer">
	<label class="col-md-2" for="">ArrayField</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.ArrayField" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderArrayField}}">
	</div>
</div>

<!--Titel-->
<div class="row top-buffer">
	<label class="col-md-2" for="">Titel</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.Title" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderTitleDialog}}">
	</div>
</div>

<!--TemplateId-->
<div class="row top-buffer">
	<label class="col-md-2" for="">TemplateId</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.TemplateId" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderTemplateId}}">
	</div>
</div>

<!--GridId-->
<div class="row top-buffer">
	<label class="col-md-2" for="">GridId</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.GridId" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderGridId}}">
	</div>
</div>

<!--ArrayFieldName-->
<!--<div class="row top-buffer">
	<label class="col-md-2" for="">ArrayFieldName</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.ArrayFieldName" (ngModelChange)="onModelDataChanged($event)" type="text">
	</div>
</div>-->

<!--JsonTypeName-->
<div class="row top-buffer">
	<label class="col-md-2" for="">JsonTypeName</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.JsonTypeName" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderJsonTypeName}}">
	</div>
</div>

<!--JsonTypeAssemblyName-->
<div class="row top-buffer">
	<label class="col-md-2" for="">JsonTypeAssemblyName</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.JsonTypeAssemblyName" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderJsonTypeAssemblyName}}">
	</div>
</div>