<!--SourceElement-->
<div class="row top-buffer">
	<label class="col-md-2" for="">SourceElement</label>
	<div class="col-md-2">
		<select class="form-control" [(ngModel)]="ruleModel.SourceElementType" (ngModelChange)="onSourceElementTypeChanged($event)"
			name="" id="">
			<option *ngFor="let sourceElementType of sourceElementTypes" [ngValue]="sourceElementType">{{sourceElementType}}</option>
		</select>
	</div>
	<div class="col-md-6">
		<input class="form-control" [(ngModel)]="ruleModel.SourceElementValue" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{sourceElementValuePlaceholder}}">
	</div>
</div>

<!--JsonTypeAssemblyName-->
<div class="row top-buffer" *ngIf="ruleModel.SourceElementType === 'Json'">
	<label class="col-md-2" for="">JsonTypeAssemblyName</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.JsonTypeAssemblyName" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderJsonTypeAssemblyName}}">
	</div>
</div>

<!--DestinationElement-->
<div class="row top-buffer" *ngIf="ruleModel.CommandType === 'copyValueCommand'">
	<label class="col-md-2" for="">DestinationElement</label>
	<div class="col-md-2">
		<select class="form-control" [(ngModel)]="ruleModel.DestinationElementType" name="" id="">
			<option *ngFor="let destinationElementType of destinationElementTypes" [ngValue]="destinationElementType">{{destinationElementType}}</option>
		</select>
	</div>
	<div class="col-md-6">
		<input class="form-control" [(ngModel)]="ruleModel.DestinationElementValue" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderSpringObjectName}}" [typeahead]="bindingPaths">

	</div>
</div>