<!--SourceObject-->
<div class="row top-buffer">
	<label class="col-md-2" for="">SourceObject</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.SourceElementValue" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderSpringObjectName}}">
	</div>
</div>

<!--DestinationObject-->
<div class="row top-buffer">
	<label class="col-md-2" for="">DestinationObject</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.DestinationElementValue" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderSpringObjectName}}">
	</div>
</div>