<!--Name-->
<div class="row top-buffer">
	<label class="col-md-2" for="">Name</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.Name" (ngModelChange)="onNameChanged($event)" type="text" placeholder="{{TextPlaceholderCustomCommandName}}">
	</div>
</div>

<!--Parameter-->
<div class="row top-buffer">
	<label class="col-md-2" for="">Parameter</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.Parameter" (ngModelChange)="onNameChanged($event)" type="text" placeholder="{{TextPlaceholderCommandParameter}}">
	</div>
</div>

<!--Javascript-->
<div class="row top-buffer">
	<label class="col-md-2">Javascript</label>
	<div class="col-md-8">
		<textarea #taResult class="form-control" rows="10">{{javascriptCode}}</textarea>
	</div>
	<div class="col-md-2">

		<div>
			<button class="btn btn-primary" [ngxClipboard]="taResult">Copy to clipboard</button>
		</div>

	</div>
</div>