<!--ParentUIElement-->
<!--<div class="row top-buffer">
    <label class="col-md-2" for="">ParentUIElement</label>
    <div class="col-md-6">
        <input class="form-control" [(ngModel)]="ruleModel.ParentUIElement" (ngModelChange)="onModelDataChanged($event)" type="text">
    </div>
</div>-->

<!--UIElement-->
<div class="row top-buffer">
    <label class="col-md-2" for="">UIElement</label>
    <div class="col-md-8">
        <input class="form-control" [(ngModel)]="ruleModel.UIElement" (ngModelChange)="onModelDataChanged($event)" placeholder="Seperate the elements by comma for multiple elements" type="text">
    </div>
</div>

<!--BadCommand-->
<div class="row top-buffer">
    <label class="col-md-2" for="">BadCommand</label>
    <div class="col-md-8 checkbox hd-checkbox">
        <input [(ngModel)]="ruleModel.BadCommand" (ngModelChange)="onModelDataChanged($event)" type="checkbox">
    </div>
</div>