<!--ArrayField-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">ArrayField</label>
	<div class="col-xs-6">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.ArrayField" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderArrayField}}">
	</div>
</div>

<!--EventName-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">EventName</label>
	<div class="col-xs-6">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.EventName" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderEventName}}">
	</div>
</div>