<!--UIField-->
<div class="row top-buffer">
	<label class="col-md-2" for="">UIField (required)</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.UIField" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderUIField}}">
	</div>
</div>

<!--ListProperty-->
<div class="row top-buffer">
	<label class="col-md-2" for="">ListProperty (required)</label>
	<div class="col-md-8">
		<input class="form-control" [(ngModel)]="ruleModel.ListProperty" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderListProperty}}">
	</div>
</div>

<!--ColumnIndex-->
<div class="row top-buffer">
	<label class="col-md-2" for="">ColumnIndex (required)</label>
	<div class="col-md-8" [class.has-error]="columnIndex.errors?.number" >
		<input class="form-control" [(ngModel)]="ruleModel.ColumnIndex" (ngModelChange)="onModelDataChanged($event)" type="text"
			placeholder="{{TextPlaceholderColumnIndex}}" name="columnIndex" #columnIndex="ngModel" number>
		<div *ngIf="columnIndex.errors?.number" class="alert alert-danger">ColumnIndex must be a number</div>
	</div>
</div>

<!--ErrorText-->
<div class="row top-buffer">
	<label class="col-md-2" for="">ErrorText (required)</label>
	<div class="col-md-2">
		<select class="form-control" [(ngModel)]="ruleModel.ErrorTextType" (ngModelChange)="onErrorTextTypeChanged($event)"
			name="" id="">
			<option *ngFor="let errorTextType of errorTextTypes" [ngValue]="errorTextType">{{errorTextType}}</option>
		</select>
	</div>
	<div class="col-md-6">
		<input class="form-control" [(ngModel)]="ruleModel.ErrorTextValue" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{errorTextValuePlaceholder}}">
	</div>
</div>

<!--BadCommand-->
<div class="row top-buffer">
	<label class="col-md-2" for="">BadCommand</label>
	<div class="col-md-8 checkbox hd-checkbox">
		<input [(ngModel)]="ruleModel.BadCommand" (ngModelChange)="onModelDataChanged($event)" type="checkbox">
	</div>
</div>