<!--SourceElement-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">SourceElement</label>
	<div class="col-xs-8">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.SourceElementValue" (ngModelChange)="onModelDataChanged($event)"
			type="text" placeholder="{{TextPlaceholderSourceElementValueBindingPath}}">
	</div>
</div>

<!--UIField-->
<div class="row top-buffer">
	<label class="col-xs-2" for="">UIField</label>
	<div class="col-xs-8">
		<input class="col-xs-12 form-control" [(ngModel)]="ruleModel.UIField" (ngModelChange)="onModelDataChanged($event)" type="text" placeholder="{{TextPlaceholderUIField}}">
	</div>
</div>