<!--Id-->
<div class="row top-buffer">
    <label class="col-xs-2" for="">Id</label>
    <div class="col-xs-8">
        <input class="col-xs-12 form-control" [(ngModel)]="ruleModel.Id" (ngModelChange)="onModelDataChanged($event)" type="text" placeholder="{{TextPlaceholderId}}">
    </div>
</div>	
<!--Message-->
<div class="row top-buffer">
    <label class="col-xs-2" for="">Message</label>
    <div class="col-xs-8">
        <input class="col-xs-12 form-control" [(ngModel)]="ruleModel.Message" (ngModelChange)="onModelDataChanged($event)" type="text" placeholder="{{TextPlaceholderMessage}}">
    </div>
</div>	