<!--UIField-->
<div class="row top-buffer">
    <label class="col-xs-2" for="">UIField</label>
    <div class="col-xs-8">
        <input class="col-xs-12 form-control" [(ngModel)]="ruleModel.UIField" (ngModelChange)="onUIFieldChanged($event)" type="text" placeholder="{{TextPlaceholderUIField}}">
    </div>
</div>	

<!--StateTable-->
<div class="row top-buffer">
    <label class="col-xs-2" for="">StateTable</label>
    <div class="col-xs-8">
        <input class="col-xs-12 form-control" [(ngModel)]="ruleModel.StateTable" (ngModelChange)="onModelDataChanged($event)" type="text" placeholder="{{TextPlaceholderStateTableErrorText}}">
    </div>
</div>