<div class="container-fluid">
	<condition [(conditionModel)]="conditionModel" (onDataChanged)="onDataChanged($event)"></condition>

	<div class="row top-buffer">
		<label class="col-md-2">Json</label>
		<div class="col-md-8">
			<textarea #taResult class="form-control" rows="20" [(ngModel)]="result"></textarea>
		</div>
		<div class="col-md-2">
			<div>
				<button class="btn btn-primary" [ngxClipboard]="taResult">Copy to clipboard</button>
			</div>

		</div>
	</div>
	<div class="row" >
		<p class="col-md-8 col-xs-offset-2 text-muted text-warning"><small>*Please check if the same condition exists before creating a new one.</small></p>
	</div>
</div>